# Discord Bot Token (get this from https://discord.com/developers/applications)
DISCORD_TOKEN=token

# Discord Server (Guild) ID
GUILD_ID=0123456789

# Channel ID where the daily form will be posted
CHANNEL_ID=0123456789

# Discord Application ID
APPLICATION_ID=0123456789
